# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CEGEP\SESSION_5\DEVELOPPEMENT_APPLICATIONS_MOBILE\travaux\TP2\Lecteur_RSS_Media\Lecteur_RSS_Media\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
